.body{
    padding-top: 50px;
}
/*header*/
.header{
    width: 100%;
    height: 50px;
    background-color: #F6F8F9;
    position: fixed;
    top: 0;
    left: 0; 
    width: 100%;
    z-index: 10;
}
.navigation{
    display: inline-block;
    vertical-align: middle;
    margin-top: 20px;
    margin-right: 40px;
    margin-bottom: 18px;
    
}
.nav-li{
    display: inline-block;
}
.mainlogo{
    vertical-align: middle;
    margin: 18px 92px 17px 20px ;
}
.smallphoto{

    vertical-align: middle;
    margin-top: 11px;
    margin-bottom: 9px;

}

.nav-item{
    font-family: 'Helvetica';
    font-size: 11px;
    color: rgb(180, 180, 180)

}

.active{
    color: #343638;
}
.nav-item2{
    margin-left: 27px;
    margin-right: 22px;
}
.nav-item3{
    margin-right: 22px;
}

/* first div*/
.topsection{
    width: 1160px;
    height: 410px;
    margin: 25px auto 0 ;
    background-color: #F6F8F9;
    
}
.maintitle{
    font-size: #202124;
    font-family: 'Helvetica';
    margin-bottom: 40px;
}
/*small thhree divs*/
.threeblocks{
    width: 360px;
    height: 350px;
    position: relative;
   
}
.between-paragrap{
    font-size: 16px;
    font-family: 'Helvetica';
    color: #FFFFFF;
    position: absolute;
    top: 28px;
    right: 40px;
    left: 40px;
    bottom: 305px;
    
}
.smalldiv{
    width: 360;
    margin-top: 66px;
}
.paragrap{
    font-size: 13px;
    margin: 0 40px;
    color: #A6ADB4;
    font-family: 'Acumin Pro';
}
.timer{
    margin-top: 10px;
    margin-left: 40px;
    display: inline-block;
    vertical-align: middle;
}
.time-ago{
    display: inline-block;
    font-family: 'Helvetica';
    font-size: 13px;
    margin-top: 11px;
    margin-left: 10px;
    color: #A6ADB4;
    vertical-align: middle;

}
.threeblocks1{
    display: inline-block;
}
.threeblocks2{
    display: inline-block;
    margin-left: 40px;
    margin-right: 40px;
}
.threeblocks3{
    display: inline-block;
}
/*bottom section*/
.bottomsection{
    width: 1160px;
    margin: 58px auto 0 ;
    background-color: #F6F8F9;   
}
.secondtitle{
    font-size: 24px;
    font-family: 'Helvetica';
    margin-bottom: 40px;
    
}
/*left-block*/

.leftblock{
    display: inline-block;
    width: 760px;
    height: 900px;
    vertical-align: top;
    margin-bottom: 37px;
   
}
.page{
    width: 760px;
    height: 430px;
    position: relative;
    margin-bottom: 40px;
}

.smallparagrap{
    font-size: 16px;
    font-family: 'Helvetica';
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
     
}
/* right block'*/
.rightblock{
    display: inline-block;
    width: 360px;
    background-color: #F6F8F9;
    margin-left: 40px;
    vertical-align: top;
   
    
}
.elephant{
    margin-bottom: 102px;
}
.bird{
    margin-bottom: 102px;
}
.road{
    margin-bottom: 103px;
}

/*footer*/
.footer{
    width: 100%;
    height: 200px;
    background-color: #A6ADB4;
    padding-top: 56px;
    

}
.first-div{
    width: 486.09px;
    height: 81px;
    margin-bottom: 60px;
    margin-left: 142px;
    vertical-align: middle;
    display: inline-block;
}
/*paragrap*/
.seconddiv{
    display: inline-block;
    vertical-align: top;
    
}
/*ul tags*/
.logo2{
    vertical-align: top;
}
.uldivs{
    display: inline-block;
    vertical-align: top;
    margin-right:60.7px ;
    margin-left: 53.1px; 
}
.uldivs2{
    display: inline-block;
    vertical-align: top;
    margin-right: 72.2px ;
  
   
}
.uldivs3{
    display: inline-block;
    vertical-align: top;
}
.li{
    font-size: 13px;
    font-family: Helvetica;
    color: #CBD0D3;
    line-height: 20px;

}
.li1{
    margin-bottom: 5px;
}
.li3{
    margin-top: 5px;
    margin-bottom: 5px;
}
/*paragrap*/
.paragrapfooter{
    font-size: 11px;
    color:#CBD0D3;
    font-family: Helvetica;

}

/*third div*/
.third-div{
    width: 160px;
    height: 16px;
    display: inline-block;
    vertical-align: top;
    margin-left: 165.2px;
}
.instagramicon{
    margin-right: 32px;
}
.facebookicon{
    margin-right: 32px;
    margin-left: 32px;
}




